<!doctype html>
<html lang="fr">

<head th:replace="~{_fragments/layout :: head('Connexion')}"></head>

<body>

  <!-- En-tête de page -->
  <header th:replace="~{_fragments/layout :: header}"></header>

  <!-- Contenu principal -->
  <section class="container my-3">
    <div class="row">

      <!-- Colonne 1 : Formulaire de connexion -->
      <div class="col-12 col-sm-6 ps-lg-5 d-flex flex-column justify-content-center">

        <!-- Messages d'alerte -->
        <div class="alert text-center bg-secondary-subtle">
          <span th:text="${alert}"></span>
        </div>
        <div class="alert text-center bg-light">
          <span th:text="${connected}"></span>
        </div>

        <!-- Titre -->
        <h2 class="text-center">Connexion</h2>

        <div class="py-2 py-lg-4"></div>

        <!-- Formulaire -->
        <div class="mx-auto" style="max-width: 30rem;">
          <form class="mb-auto" th:action="@{/connect}" method="POST">

            <!-- Champ identifiant -->
            <div class="row my-4">
              <div class="col-12 col-xl-5">
                <label for="username" class="form-label">Identifiant</label>
              </div>
              <div class="col">
                <input type="text" id="username" class="form-control" name="username" th:value="${username}" />
              </div>
            </div>

            <!-- Champ mot de passe -->
            <div class="row my-4">
              <div class="col-12 col-xl-5">
                <label for="motDePasse" class="col-form-label">Mot de passe</label>
              </div>
              <div class="col">
                <input type="password" id="motDePasse" class="form-control" name="password" th:value="${password}" />
              </div>
            </div>

            <!-- Bouton de connexion -->
            <div class="text-center mt-4 mt-xl-5 mb-5">
              <input type="submit" class="btn btn-primary" value="Se connecter" />
            </div>

          </form>
        </div> <!-- Fin formulaire -->

      </div> <!-- Fin Colonne 1 -->

      <!-- Colonne 2 : Image -->
      <div class="col-12 col-sm-6 my-3 d-flex align-items-center justify-content-center">
        <img class="img-fluid" src="img/photos/photo02.jpg" alt="Image de connexion">
      </div>

    </div>
  </section>

  <!-- Pied de page -->
  <footer th:replace="~{_fragments/layout :: footer}"></footer>

</body>

</html>